.btn-cta {
  width: 120px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  background: #ccc;
  color: #555;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}


.overlays {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-top: -50vh; 
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.59, -0.17, 0.3, 1.67);
}
.overlays.is-open {
  opacity: 1;
  pointer-events: auto;
}


.modal1 {
  transform: translate(0px, -50px);
  transition: all 0.7s cubic-bezier(0.59, -0.17, 0.3, 1.67);
  position: relative;
  padding: 30px;
  width: 800px;
  height: 400px;
  background-color: #ddd;
  color: #231D23;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal1 .close-btn {
  position: absolute;
  padding: 3px 9px;
  font-size: 24px;
  text-align: center;
  background: #ccc;
  color: #9c9c9c;
  top: -1px;
  right: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.list-win li:hover,  .list-win li.active{
  color: #ff001f;
  text-decoration: underline;
}
.photoWin img:hover, .photoWin img.active {
  border: 5px solid #ff001f;
  box-sizing: border-box;
}
